.carousel-inner {
    width: 100%;
    max-height: 320px !important;
}

.sale {
    height: 200px;
    width: 100%;
    padding-bottom: 10px;
}

.products .row .card{
    border: none;
    padding-bottom: 25px;
}

.cart{
  flex-direction: row;
}
.cart img {
  width: 30%;
}
.foot {
    background-color: #343a40;
}

.foot .container {
    background-color: #343a40;
    margin: auto;
    padding: 20px 0;
}

.foot .footer-col ul {
    list-style: none;
}

.foot .footer-col ul li a {
    color: white;
    font-size: 12px;
}

.foot .footer-col h6 {
    font-size: 16px;
    color: coral;
}

.foot .copyright {
    background-color: black;
    text-align: center;
}