<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishCart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

<!--navbar-->
<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">WishCart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if request.session.customer %}
                    <li class="nav-item ">
                        <a class="nav-link" href="/cart">Cart
                            <span class="badge badge-warning">{{ request.session.cart.keys|length }}</span>
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</section>
{% block content %}{% endblock %}
</body>
</html>

<footer class="foot">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-2">
                <ul>
                    <h6>About</h6>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-2">
                <ul>
                    <h6>Help</h6>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Payment</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-2">
                <ul>
                    <h6>Policy</h6>
                    <li><a href="#">Term of Use</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-2">
                <ul>
                    <h6>Social</h6>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-3" style="color: whitesmoke">
                <h6>Registed Office Address:</h6>
                <p>Wishcart Shopping Pvt Ltd,<br>
                    2504 White Avenue, Black Lane,<br>
                    Texas-78476
                </p>
            </div>
        </div>
    </div>

    <div class="copyright container-fluid" style="color: white">
        <small>Copyright &copy; 2021 || Designed by Pranay ||</small>
    </div>
</footer>